* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #5d5d7d;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container-left {
    width: 60%;
    padding: 0 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-right {
    width: 40%;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100%;
    position: relative;
}

header {
    position: absolute;
    top: 24px;
    left: 57px;
}

header a {
    font-size: 28px;
    line-height: 41px;
    cursor: pointer;
    margin-right: 41px;
    opacity: 0.4;
}

header a:first-child {
    opacity: 1;
}

header a:hover {
    opacity: 0.8;
}

.container-right img {
    position: absolute;
    top: 50%;
    left: -130px;
    transform: translateY(-50%);
    width: 456px;
}

@media screen and (max-width: 900px) {
    .container {
        height: auto;
        min-height: 100vh;
        flex-direction: column;
    }

    .container-left {
        width: 100%;
        padding: 58px 24px 32px;
        text-align: center;
        align-items: center;
    }

    .container-right {
        width: 100%;
        height: 50vh;
        min-height: 360px;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 44px;
        width: auto;
        max-width: 320px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        width: auto;
        max-width: 296px;
        margin: 12px 0 20px;
    }

    button {
        width: 239px;
        height: 52px;
        font-size: 18px;
        line-height: 27px;
    }

    .container-right img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 271px;
    }
}

h1 {
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148,153,234,0.0979959);
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

