* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin: 44px 0 144px 76px;

}
.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}
.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    line-height: 29px;
    font-size: 24px;
    color: #FFF;
    cursor: pointer;
}
.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

h1 {
    font-weight: 900;
    font-size: 58px;
    line-height: 71px;
    color: #616161;
    font-weight: extra-bold;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    font-weight: semi-bold;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
section {
    display: inline-block;
    margin-left: 86px;

}
.button-main {
    background-color: #adff00;
    width: 239px;
    height: 64px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0 0 0 0.25);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}
